/ALVarRefOperationImpl.java
/ArithLitOperationImpl.java
/ArithMinusOperationImpl.java
/ArithOperationImpl.java
/ArithPlusOperationImpl.java
/AssignOperationImpl.java
/BlockOperationImpl.java
/PrintOperationImpl.java
/StmtOperationImpl.java
