<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pong -->
      <package
            uri="http://www.example.org/pong"
            class="pong.PongPackage"
            genModel="model/pong.genmodel"/>
   </extension>

</plugin>
