/ActionOperationImpl.java
/ActivityEdgeOperationImpl.java
/ActivityFinalNodeOperationImpl.java
/ActivityNodeOperationImpl.java
/ActivityOperationImpl.java
/BooleanValueOperationImpl.java
/ContextOperationImpl.java
/ControlFlowOperationImpl.java
/ControlNodeOperationImpl.java
/ControlTokenOperationImpl.java
/DecisionNodeOperationImpl.java
/ExecutableNodeOperationImpl.java
/FinalNodeOperationImpl.java
/ForkNodeOperationImpl.java
/ForkedTokenOperationImpl.java
/InitialNodeOperationImpl.java
/InputOperationImpl.java
/InputValueOperationImpl.java
/IntegerValueOperationImpl.java
/JoinNodeOperationImpl.java
/MergeNodeOperationImpl.java
/NamedActivityOperationImpl.java
/OfferOperationImpl.java
/OpaqueActionOperationImpl.java
/TokenOperationImpl.java
/TraceOperationImpl.java
/ValueOperationImpl.java
/VariableOperationImpl.java
