/ActionOperation.java
/ActivityEdgeOperation.java
/ActivityFinalNodeOperation.java
/ActivityNodeOperation.java
/ActivityOperation.java
/BooleanBinaryExpressionOperation.java
/BooleanExpressionOperation.java
/BooleanUnaryExpressionOperation.java
/BooleanVariableOperation.java
/ControlNodeOperation.java
/DecisionNodeOperation.java
/ExpressionOperation.java
/ForkNodeOperation.java
/ForkedTokenOperation.java
/InitialNodeOperation.java
/IntegerCalculationExpressionOperation.java
/IntegerComparisonExpressionOperation.java
/IntegerExpressionOperation.java
/IntegerVariableOperation.java
/JoinNodeOperation.java
/MergeNodeOperation.java
/OfferOperation.java
/OpaqueActionOperation.java
/TokenOperation.java
/VariableOperation.java
