<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pingpongsem -->
      <package
            uri="http://pingpongsem"
            class="pingpongsem.PingpongsemPackage"
            genModel="model/pingpongsem.genmodel"/>
   </extension>

</plugin>
