/ActionOperation.java
/ActivityEdgeOperation.java
/ActivityFinalNodeOperation.java
/ActivityNodeOperation.java
/ActivityOperation.java
/ActuatorOperation.java
/BlockOperation.java
/BoardOperation.java
/BooleanValueOperation.java
/BooleanVariableBindStatement_AssignmentOperation.java
/BooleanVariableOperation.java
/ChunkOperation.java
/ContainedOperation.java
/ContainerOperation.java
/ContextOperation.java
/ControlFlowOperation.java
/ControlNodeOperation.java
/ControlTokenOperation.java
/DecisionNodeOperation.java
/ExceptionDefOperation.java
/ExecutableNodeOperation.java
/ExpOperation.java
/ExpressionBindOperationDefOperation.java
/ExpressionBindStatementOperation.java
/ExpressionOperation.java
/Expression_AccessArrayOperation.java
/Expression_AccessMemberOperation.java
/Expression_AndOperation.java
/Expression_CallFunctionOperation.java
/Expression_CallMemberFunctionOperation.java
/Expression_ConcatenationOperation.java
/Expression_DivisionOperation.java
/Expression_EqualOperation.java
/Expression_ExponentiationOperation.java
/Expression_FalseOperation.java
/Expression_FunctionOperation.java
/Expression_InvertOperation.java
/Expression_LargerOperation.java
/Expression_Larger_EqualOperation.java
/Expression_LengthOperation.java
/Expression_MinusOperation.java
/Expression_ModuloOperation.java
/Expression_MultiplicationOperation.java
/Expression_NegateOperation.java
/Expression_NilOperation.java
/Expression_Not_EqualOperation.java
/Expression_NumberOperation.java
/Expression_OrOperation.java
/Expression_PlusOperation.java
/Expression_SmallerOperation.java
/Expression_Smaller_EqualOperation.java
/Expression_StringOperation.java
/Expression_TableConstructorOperation.java
/Expression_TrueOperation.java
/Expression_VarArgsOperation.java
/Expression_VariableNameOperation.java
/FieldIOperation.java
/FieldOperation.java
/Field_AddEntryToTableOperation.java
/Field_AddEntryToTable_BracketsOperation.java
/Field_AppendEntryToTableOperation.java
/FinalNodeOperation.java
/ForkNodeOperation.java
/ForkedTokenOperation.java
/FunctionOperation.java
/Functioncall_ArgumentsOperation.java
/HWCompOperation.java
/IDLTypeOperation.java
/IdlStmtBindBlockOperation.java
/IdlStmtOperation.java
/InitialNodeOperation.java
/InputOperation.java
/InputValueOperation.java
/IntegerValueOperation.java
/IntegerVariableBindStatement_AssignmentOperation.java
/IntegerVariableOperation.java
/IotActivityBindActivityOperation.java
/IotActivityOperation.java
/IotOperationDefBindOperationDefOperation.java
/IotOperationDefOperation.java
/JoinNodeOperation.java
/LastStatementOperation.java
/LastStatement_BreakOperation.java
/LastStatement_ReturnOperation.java
/LastStatement_ReturnWithValueOperation.java
/MergeNodeOperation.java
/NamedActivityOperation.java
/NamedElementOperation.java
/OfferOperation.java
/OpaqueActionOperation.java
/OperationDefOperation.java
/ParameterDefOperation.java
/PrimitiveDefOperation.java
/SensorOperation.java
/SketchOperation.java
/StatementOperation.java
/Statement_AssignmentOperation.java
/Statement_BlockOperation.java
/Statement_CallFunctionOperation.java
/Statement_CallMemberFunctionOperation.java
/Statement_For_GenericOperation.java
/Statement_For_NumericOperation.java
/Statement_FunctioncallOrAssignmentOperation.java
/Statement_GlobalFunction_DeclarationOperation.java
/Statement_If_Then_ElseOperation.java
/Statement_If_Then_Else_ElseIfPartOperation.java
/Statement_LocalFunction_DeclarationOperation.java
/Statement_Local_Variable_DeclarationOperation.java
/Statement_RepeatOperation.java
/Statement_WhileOperation.java
/SystemOperation.java
/TokenOperation.java
/TraceOperation.java
/ValueOperation.java
/VariableOperation.java
