<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated activitydiagram_simpleexpressions -->
      <package
            uri="http://www.example.org/activitydiagram_simpleexpressions"
            class="activitydiagram_simpleexpressions.Activitydiagram_simpleexpressionsPackage"
            genModel="model/activitydiagram_simpleexpressions.genmodel"/>
   </extension>

</plugin>
