<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated iot_lua -->
      <package
            uri="http://www.example.org/iot_lua"
            class="iot_lua.Iot_luaPackage"
            genModel="model/iot_lua.genmodel"/>
   </extension>

</plugin>
