/ActionOperationImpl.java
/ActivityEdgeOperationImpl.java
/ActivityFinalNodeOperationImpl.java
/ActivityNodeOperationImpl.java
/ActivityOperationImpl.java
/BooleanBinaryExpressionOperationImpl.java
/BooleanExpressionOperationImpl.java
/BooleanUnaryExpressionOperationImpl.java
/BooleanVariableOperationImpl.java
/ControlNodeOperationImpl.java
/DecisionNodeOperationImpl.java
/ExpressionOperationImpl.java
/ForkNodeOperationImpl.java
/ForkedTokenOperationImpl.java
/InitialNodeOperationImpl.java
/IntegerCalculationExpressionOperationImpl.java
/IntegerComparisonExpressionOperationImpl.java
/IntegerExpressionOperationImpl.java
/IntegerVariableOperationImpl.java
/JoinNodeOperationImpl.java
/MergeNodeOperationImpl.java
/OfferOperationImpl.java
/OpaqueActionOperationImpl.java
/TokenOperationImpl.java
/VariableOperationImpl.java
