/ALVarRefOperation.java
/ArithLitOperation.java
/ArithMinusOperation.java
/ArithOpOperation.java
/ArithOperation.java
/ArithPlusOperation.java
/AssignOperation.java
/BlockOperation.java
/EqualityTestOperation.java
/IfStmtOperation.java
/PrintOperation.java
/RandRangeOperation.java
/StmtOperation.java
