<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fsm_guarded_lua -->
      <package
            uri="http://fsm_guarded_lua"
            class="fsm_guarded_lua.Fsm_guarded_luaPackage"
            genModel="model/fsm_guarded_lua.genmodel"/>
   </extension>

</plugin>
