<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ale2 -->
      <package
            uri="http://www.example.org/ale2"
            class="ale2.Ale2Package"
            genModel="model/ale2.genmodel"/>
   </extension>

</plugin>
