/ALVarRefOperation.java
/ActionOperation.java
/ActivityEdgeOperation.java
/ActivityFinalNodeOperation.java
/ActivityNodeOperation.java
/ActivityOperation.java
/ActuatorOperation.java
/ArithLitOperation.java
/ArithMinusOperation.java
/ArithOpOperation.java
/ArithOperation.java
/ArithPlusOperation.java
/AssignOperation.java
/BlockOperation.java
/BoardOperation.java
/BooleanValueOperation.java
/BooleanVariableBindSEBooleanVariableOperation.java
/BooleanVariableOperation.java
/ContainedOperation.java
/ContainerOperation.java
/ContextOperation.java
/ControlFlowOperation.java
/ControlNodeOperation.java
/ControlTokenOperation.java
/DecisionNodeOperation.java
/EqualityTestOperation.java
/ExceptionDefOperation.java
/ExecutableNodeOperation.java
/ExpOperation.java
/ExpressionBindOperationDefOperation.java
/ExpressionBindSEExpressionOperation.java
/FieldIOperation.java
/FinalNodeOperation.java
/ForkNodeOperation.java
/ForkedTokenOperation.java
/HWCompOperation.java
/IDLTypeOperation.java
/IdlStmtBindBlockOperation.java
/IdlStmtOperation.java
/IfStmtOperation.java
/InitialNodeOperation.java
/InputOperation.java
/InputValueOperation.java
/IntegerValueOperation.java
/IntegerVariableBindSEIntegerVariableOperation.java
/IntegerVariableOperation.java
/IoTActivityBindActivityOperation.java
/IotActivityOperation.java
/IotOperationDefBindOperationDefOperation.java
/IotOperationDefOperation.java
/JoinNodeOperation.java
/MergeNodeOperation.java
/NamedActivityOperation.java
/NamedElementOperation.java
/OfferOperation.java
/OpaqueActionOperation.java
/OperationDefOperation.java
/ParameterDefOperation.java
/PrimitiveDefOperation.java
/PrintOperation.java
/RandRangeOperation.java
/SEBooleanBinaryExpressionOperation.java
/SEBooleanExpressionOperation.java
/SEBooleanUnaryExpressionOperation.java
/SEBooleanValueOperation.java
/SEBooleanVariableOperation.java
/SEExpressionOperation.java
/SEIntegerCalculationExpressionOperation.java
/SEIntegerComparisonExpressionOperation.java
/SEIntegerExpressionOperation.java
/SEIntegerValueOperation.java
/SEIntegerVariableOperation.java
/SEValueOperation.java
/SEVariableOperation.java
/SensorOperation.java
/SketchOperation.java
/StmtOperation.java
/SystemOperation.java
/TokenOperation.java
/TraceOperation.java
/ValueOperation.java
/VariableOperation.java
