/ALVarRefOperation.java
/ArithLitOperation.java
/ArithMinusOperation.java
/ArithOperation.java
/ArithPlusOperation.java
/AssignOperation.java
/BlockOperation.java
/PrintOperation.java
/StmtOperation.java
