<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated simpleb -->
      <package
            uri="http://www.example.org/simpleb"
            class="simpleb.SimplebPackage"
            genModel="model/simpleb.genmodel"/>
   </extension>

</plugin>
