<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="ale.compiler.ui.contribution1"
            nameFilter="*.ecore"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="ALE"
               path="additions"
               id="ale.compiler.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Generate Revisitor interface"
               class="ale.compiler.ui.popup.actions.GenerateRevisitorInterface"
               menubarPath="ale.compiler.ui.menu1/group1"
               enablesFor="1"
               id="ale.compiler.ui.newAction">
         </action>
      </objectContribution>
      <objectContribution
            id="ale.compiler.ui.contribution2"
            nameFilter="*.ale"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="ale.compiler.ui.menu1"
               label="ALE"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="ale.compiler.ui.popup.actions.GenerateRevisitorImpl"
               enablesFor="1"
               id="ale.compiler.ui.newAction"
               label="Generate Revisitor implementation"
               menubarPath="ale.compiler.ui.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
