<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tokenHolder -->
      <package
            uri="http://www.example.org/tokenHolder"
            class="tokenHolder.TokenHolderPackage"
            genModel="model/tokenHolder.genmodel"/>
   </extension>

</plugin>
