<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated composeabprint -->
      <package
            uri="http://composeabprint"
            class="composeabprint.ComposeabprintPackage"
            genModel="model/composeabprint.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated composeabprint2 -->
      <package
            uri="http://composeabprint2"
            class="composeabprint2.Composeabprint2Package"
            genModel="model/composeabprint2.genmodel"/>
   </extension>

</plugin>
