/SEBooleanBinaryExpressionOperation.java
/SEBooleanExpressionOperation.java
/SEBooleanUnaryExpressionOperation.java
/SEBooleanValueOperation.java
/SEBooleanVariableOperation.java
/SEExpressionOperation.java
/SEIntegerCalculationExpressionOperation.java
/SEIntegerComparisonExpressionOperation.java
/SEIntegerExpressionOperation.java
/SEIntegerValueOperation.java
/SEIntegerVariableOperation.java
/SEValueOperation.java
/SEVariableOperation.java
