/SEBooleanBinaryExpressionOperationImpl.java
/SEBooleanExpressionOperationImpl.java
/SEBooleanUnaryExpressionOperationImpl.java
/SEBooleanValueOperationImpl.java
/SEBooleanVariableOperationImpl.java
/SEExpressionOperationImpl.java
/SEIntegerCalculationExpressionOperationImpl.java
/SEIntegerComparisonExpressionOperationImpl.java
/SEIntegerExpressionOperationImpl.java
/SEIntegerValueOperationImpl.java
/SEIntegerVariableOperationImpl.java
/SEValueOperationImpl.java
/SEVariableOperationImpl.java
