/ActionOperation.java
/ActivityEdgeOperation.java
/ActivityFinalNodeOperation.java
/ActivityNodeOperation.java
/ActivityOperation.java
/BooleanBinaryExpressionOperation.java
/BooleanExpressionOperation.java
/BooleanUnaryExpressionOperation.java
/BooleanValueOperation.java
/BooleanVariableOperation.java
/ContextOperation.java
/ControlFlowOperation.java
/ControlNodeOperation.java
/ControlTokenOperation.java
/DecisionNodeOperation.java
/ExecutableNodeOperation.java
/ExpressionOperation.java
/FinalNodeOperation.java
/ForkNodeOperation.java
/ForkedTokenOperation.java
/InitialNodeOperation.java
/InputOperation.java
/InputValueOperation.java
/IntegerCalculationExpressionOperation.java
/IntegerComparisonExpressionOperation.java
/IntegerExpressionOperation.java
/IntegerValueOperation.java
/IntegerVariableOperation.java
/JoinNodeOperation.java
/MergeNodeOperation.java
/NamedElementOperation.java
/OfferOperation.java
/OpaqueActionOperation.java
/TokenOperation.java
/TraceOperation.java
/ValueOperation.java
/VariableOperation.java
